<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="empService" class="com.tech2java.springaop.service.EmployeeService"/>
	
	<bean id="beforeAdvice" class="com.tech2java.springaop.advice.BeforeAdvice"/>
	<bean id="afterAdvice" class="com.tech2java.springaop.advice.AfterAdviceCls"/>
	<bean id="throwsAdvice" class="com.tech2java.springaop.advice.ThrowsAdviceCls"/>
	
	<bean id="aroundAdvice" class="com.tech2java.springaop.advice.AroundAdvice"/>
	
	<bean id="empServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		
		<property name="target" ref="empService"></property>
		<property name="interceptorNames">
			<list>
				<!-- 
				<value>beforeAdvice</value>
				<value>afterAdvice</value>
				<value>throwsAdvice</value>
				-->
				<value>aroundAdvice</value>		
			</list>
		</property>
	</bean>

</beans>    