<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="car" class="com.tech2java.springcore.Car">
	</bean>
	
	<bean id="bike" class="com.tech2java.springcore.Bike">
	</bean>
	
	<bean id="traveler" class="com.tech2java.springcore.Traveler">
		<property name="vehicle" ref="bike"></property>
	</bean>

</beans>    